@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC:ital@1&display=swap");
* {
  box-sizing: border-box; }

body {
  font-family: "Alegreya SC", serif;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  font-size: 18px;
  font-weight: 200; }

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.logo-box {
  height: 120px; }

.nav-item {
  margin-right: 2.5em; }
  @media (max-width: 500px) {
    .nav-item {
      display: none; } }

.nav-links {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 90vw;
  flex-wrap: wrap-reverse; }
  .nav-links a {
    font-size: 20px;
    color: #6e6e64;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 8px;
    margin-top: 0.5em; }
  @media (max-width: 650px) {
    .nav-links {
      flex-direction: column; } }

.logo {
  max-width: 250px;
  cursor: pointer;
  margin-top: 1em; }
  @media (max-width: 650px) {
    .logo {
      margin-left: 0; } }

.box {
  flex: 1;
  display: flex;
  justify-content: center; }

.nav-links a:before,
.nav-links a:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #f49717; }

.nav-links a:before {
  opacity: 0;
  transform: translateY(-8px);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s; }

.nav-links a:after {
  opacity: 0;
  transform: translateY(4px);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s; }

.nav-links a:hover:before,
.nav-links a:hover:after,
.nav-links a:focus:before,
.nav-links a:focus:after {
  opacity: 1;
  transform: translateY(0); }

.nav-links a:hover:before,
.nav-links a:focus:before {
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s; }

.nav-links a:hover:after,
.nav-links a:focus:after {
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s; }

.nav-links a:hover {
  color: #000; }

.socials a {
  margin-right: 2em; }
.socials i {
  font-size: 20px; }

.content {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 1em 1em 1em;
  align-items: center; }
  @media (max-width: 500px) {
    .content {
      padding: 1em; } }

.image {
  max-width: 450px;
  min-width: 350px;
  margin: 1.5em;
  flex: 1;
  cursor: pointer; }
  .image img {
    width: 100%; }
  @media (max-width: 1250px) {
    .image {
      max-width: 450px;
      min-width: 300px; } }
  @media (max-width: 500px) {
    .image {
      margin-left: 0;
      margin-right: 0; } }

.overlay {
  background-color: rgba(0, 0, 0, 0.863);
  backdrop-filter: blur(3px);
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto !important;
  z-index: 5; }

.hidden {
  display: none; }

.active {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
  cursor: initial;
  max-width: 550px; }

/*# sourceMappingURL=style.css.map */
