body {
  background-color: #6e6e64;
}

.nav {
  background-color: #fff !important;
}

form,
.contact-form {
  max-width: 800px;
  margin: 0px auto;
  padding: 0.5em;
}

.contact-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.contact {
  font-size: 30px;
  text-align: center;
  margin: 50px auto 0px;
}

h3 {
  text-align: center;
}

.feedback-input {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: #fff;
  border: none;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #f49717;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: inherit;
  width: 100%;
  background: #f49717;
  border: 2px solid #f49717;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #f49717;
}
