.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0em 1em;
}

.nav-item {
  margin-right: 2.5em;
  width: 100%;

  @media (max-width: 500px) {
    display: none;
    margin-right: 4.5em;
  }
}
@media (max-width: 650px) {
  .nav-item:hover {
    background-color: grey;
  }
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  flex-wrap: wrap;

  a {
    font-size: 20px;
    color: #6e6e64;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 8px;
    margin-top: 0.5em;
  }

  span {
    text-align: center;
  }

  @media (max-width: 650px) {
    flex-direction: column;

    i {
      margin-right: 0;
    }
  }
}

.nav-links a:before,
.nav-links a:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #f49717;
}
.nav-links a:before {
  opacity: 0;
  transform: translateY(-8px);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}
.nav-links a:after {
  opacity: 0;
  transform: translateY(4px);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s;
}
.nav-links a:hover:before,
.nav-links a:hover:after,
.nav-links a:focus:before,
.nav-links a:focus:after {
  opacity: 1;
  transform: translateY(0);
}

.nav-links a:hover:before,
.nav-links a:focus:before {
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s;
}
.nav-links a:hover:after,
.nav-links a:focus:after {
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0s 0.2s;
}

.nav-links a:hover {
  color: #000;
}

.icons {
  margin-right: 1em;
  @media (max-width: 650px) {
    margin-right: 0;
  }
}

.logo {
  max-width: 250px;
  // width: 100%;
  // z-index: -100;
  margin-top: 1em;
}

.closebtn,
.burger {
  display: none;
}

.hidden {
  visibility: hidden !important;
}

@media (max-width: 650px) {
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #6e6e64;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 35px;
    text-decoration: none;
    font-size: 25px;
    color: #f49717;
    display: inline-block;
    transition: 0.3s;

    &:hover {
      color: #f1f1f1;
    }
  }

  .icons {
    padding: 4px 4px 4px 25px !important;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    padding: 0px;
  }
  .closebtn,
  .burger {
    display: block;
  }
  .logo-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }
}

//Solo Media Q
@media (max-width: 880px) and (min-width: 650px) {
  .social {
    padding-top: 1em;
  }
  .links {
    text-align: center;
  }
  .logo-box {
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .logo {
    max-width: 200px;
    padding-left: 0.5em;
  }
}
