.all-products {
  width: 80%;
  margin: 5em auto;
  display: flex;
  flex-wrap: wrap; }

.item {
  flex: 1;
  padding: 1em 1em 5em 1em;
  min-width: 400px; }

.productImage {
  height: 400px;
  width: auto; }

.product {
  width: 100%;
  height: 350px;
  object-fit: scale-down; }

h3 {
  margin: 0.5em 0 0 0; }

.price {
  font-size: 25px;
  margin: 0;
  margin-bottom: 20px; }

.addCart {
  margin-top: 10px;
  font-size: 18px;
  border: 1px solid #f49717;
  border-radius: 5px;
  background-color: #f49717;
  padding: 0.3em;
  cursor: pointer; }

select {
  font-size: 20px;
  width: 100px; }

.text-price {
  font-family: "Roboto", sans-serif;
  color: #6e6e64; }

.add-to-cart {
  --background-default: #f49717;
  --background-scale: 1;
  --text-color: #000;
  --text-o: 1;
  --text-x: 12px;
  --cart: #000;
  --cart-x: -48px;
  --cart-y: 0px;
  --cart-rotate: 0deg;
  --cart-scale: 0.75;
  --cart-clip: 0px;
  --cart-clip-x: 0px;
  --cart-tick-offset: 10px;
  --cart-tick-color: #fff;
  --shirt-y: -16px;
  --shirt-scale: 0;
  --shirt-color: #17171b;
  --shirt-logo: #fff;
  --shirt-second-y: 24px;
  --shirt-second-color: #fff;
  --shirt-second-logo: #17171b;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  outline: none;
  background: none;
  border: none;
  padding: 12px 0;
  width: 164px;
  margin: 0;
  cursor: pointer;
  position: relative;
  font-family: inherit; }
  .add-to-cart:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 15px;
    transition: background 0.25s;
    background: var(--background, var(--background-default));
    transform: scaleX(var(--background-scale)) translateZ(0); }
  .add-to-cart:not(.active):hover {
    --background: var(--background-hover); }
  .add-to-cart span {
    display: block;
    text-align: center;
    position: relative;
    z-index: 1;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: var(--text-color);
    opacity: var(--text-o);
    transform: translateX(var(--text-x)) translateZ(0); }
  .add-to-cart svg {
    display: block;
    width: var(--svg-width, 24px);
    height: var(--svg-height, 24px);
    position: var(--svg-position, relative);
    left: var(--svg-left, 0);
    top: var(--svg-top, 0);
    stroke-linecap: round;
    stroke-linejoin: round; }
    .add-to-cart svg path {
      fill: var(--svg-fill, none);
      stroke: var(--svg-stroke, none);
      stroke-width: var(--svg-stroke-width, 2); }
  .add-to-cart .morph {
    --svg-width: 64px;
    --svg-height: 13px;
    --svg-left: 50%;
    --svg-top: -12px;
    --svg-position: absolute;
    --svg-fill: var(--background, var(--background-default));
    transition: fill 0.25s;
    pointer-events: none;
    margin-left: -32px; }
  .add-to-cart .shirt,
  .add-to-cart .cart {
    pointer-events: none;
    position: absolute;
    left: 50%; }
  .add-to-cart .shirt {
    margin: -12px 0 0 -12px;
    top: 0;
    transform-origin: 50% 100%;
    transform: translateY(var(--shirt-y)) scale(var(--shirt-scale)); }
    .add-to-cart .shirt svg {
      --svg-fill: var(--shirt-color); }
      .add-to-cart .shirt svg g {
        --svg-fill: var(--svg-g-fill, var(--shirt-logo)); }
      .add-to-cart .shirt svg.second {
        --svg-fill: var(--shirt-second-color);
        --svg-g-fill: var(--shirt-second-logo);
        --svg-position: absolute;
        clip-path: polygon(0 var(--shirt-second-y), 24px var(--shirt-second-y), 24px 24px, 0 24px); }
  .add-to-cart .cart {
    --svg-width: 36px;
    --svg-height: 26px;
    --svg-stroke: var(--cart);
    top: 10px;
    margin-left: -18px;
    transform: translate(var(--cart-x), var(--cart-y)) rotate(var(--cart-rotate)) scale(var(--cart-scale)) translateZ(0); }
    .add-to-cart .cart:before {
      content: "";
      display: block;
      width: 22px;
      height: 12px;
      position: absolute;
      left: 7px;
      top: 7px;
      background: var(--cart);
      clip-path: polygon(0 0, 22px 0, calc(22px - var(--cart-clip-x)) var(--cart-clip), var(--cart-clip-x) var(--cart-clip)); }
    .add-to-cart .cart path.wheel {
      --svg-stroke-width: 1.5; }
    .add-to-cart .cart path.tick {
      --svg-stroke: var(--cart-tick-color);
      stroke-dasharray: 10px;
      stroke-dashoffset: var(--cart-tick-offset); }

.white,
.dark {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.dark {
  background: #17171b; }
  .dark .add-to-cart {
    --background-default: #fff;
    --background-hover: #f2f2f9;
    --text-color: #17171b;
    --cart: #17171b;
    --cart-tick-color: #ff328b;
    --shirt-color: #fff;
    --shirt-logo: #17171b;
    --shirt-second-color: #17171b;
    --shirt-second-logo: #fff; }

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

* {
  box-sizing: inherit; }
  *:before, *:after {
    box-sizing: inherit; }

body {
  min-height: 100vh; }
  body .dribbble {
    right: 20px;
    bottom: 20px; }
    body .dribbble img {
      height: 28px; }
  body .twitter {
    right: 64px;
    bottom: 14px; }
    body .twitter svg {
      width: 32px;
      height: 32px;
      fill: #1da1f2; }

/*# sourceMappingURL=store.css.map */
