@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC:ital@1&display=swap");

@import "styles/header";
@import "styles/contact";

* {
  box-sizing: border-box;
}

body {
  font-family: "Alegreya SC", serif;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  font-size: 18px;
  font-weight: 200;
}

.social {
  display: inline-block;
  @media (max-width: 650px) {
    position: absolute;
    display: block;
    bottom: 1em;
  }
}
.content {
  padding: 1em;

  @media (min-width: 500px) {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 1em 1em 1em;
    align-items: center;
  }
}

.image {
  max-width: 450px;
  min-width: 350px;
  margin: 1.5em;
  flex: 1;
  cursor: pointer;
  img {
    width: 100%;
  }

  @media (max-width: 1250px) {
    max-width: 550px;
    min-width: 300px;
  }
  @media (max-width: 500px) {
    margin-left: 0;
    margin-right: 0;
    max-width: 350px;
    min-width: 280px;
  }
}

//For Modal
.overlay {
  background-color: rgba(0, 0, 0, 0.863);
  backdrop-filter: blur(3px);
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto !important;
  z-index: 5;
}

.hidden {
  display: none;
}

.active {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
  cursor: initial;
  max-width: 550px;
}
//End of modal

//Solo Media Q
@media (max-width: 840px) and (min-width: 650px) {
  .social {
    padding-top: 1em;
  }
  .links {
    text-align: center;
  }
}
